body {
    color: #161414;
    font: 16px/1.4em 'Neucha', cursive;
    margin: 0;
}

.page-title {
    background: url('assets/popeye-logo-120.png') no-repeat center center;
    height: 130px;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    text-indent: 100%;
    top: 0;
    z-index: 2;
    width: 100%;
}

.page-tagline {
    background-color: #161414;
    color: #fbc22e;
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
    position: relative;
    text-indent: 0;
    top: 90px;
    width: auto;
}

.main-nav {
    background: #fbc22e;
    border-bottom: #fce7cd solid 1em;
    height: 160px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
}

.main-nav-button {
    background-color: #fce7cd;
    border: solid 2px #fce7cd;
    border-radius: 10px;
    box-shadow: -2px -2px 0 #695f55 inset,  2px 2px 0 #695f55 inset, -1px -1px 0 #9d9186,  1px 1px 0 #9d9186;
    color: #161414;
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 10px;
    padding: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: 144px;
}

.main-nav-button:first-child {
    margin-left: 0;
}

section {
    min-height: 400px;
    top: 51px;
    padding: 200px 10% 0 10%;
}

.section-title {
    font-size: 2em;
}

#the-sailor-man {
    background-color: #958e62;
}

#character-and-story {
    background-color: #f99e65;
}

#theme-song {
    background-color: #c23929;
 }



